*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --beige: rgb(254, 251, 246);
    --rosa: #F6C2AC;
    --rosaclaro: #F9DCD2;
    --tostado: #9F988E;
    --verde: #1E4951;
}

body {
    background-color:var(--rosaclaro);
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--beige);
    position: fixed;
    top: 0;
    z-index:2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav {
    display: flex;
    gap:30px;
}
.logo {
    height: 100%;
}

.navbar-list {
    list-style:none ;
    display:flex;
    gap: 30px;
    font-size: 20px;
}

.navbar-list a {
    color: #9F988E;
    text-decoration: none;
}

.navbar-list li:first-child a {
    font-weight: 700;
}

.cart-icon {
    height: 25px;
    margin-right: 1rem;
    cursor: pointer;
}

/* MAIN */

main{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portada{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 60px 0;
    gap: 70px;

}

#portada img{
    display: flex;
    height: 500px;
    max-height: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.portada-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;  
}

.portada-text h1 {
    font-weight: 500;
    font-style: italic;
    font-size: 70px;
    color: var(--verde);
    display: flex;
    flex-direction: column;
}

.portada-text p {
    color: var(--tostado);
    font-size: 15px;
    font-weight: 200;
    max-width: 350px;
}

.portada-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.portada-text a {
    text-decoration: none;
    background-color: var(--rosaclaro);
    padding: 10px 35px;
    color: var(--verde);
    border-radius: 10px;
    border-color: var(--verde);
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
}


.portada-buttons a:first-child  {
    border: none;
    background-color: var(--verde);
    color: var(--rosaclaro);
}

@keyframes scale {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.1);
    }
}

.portada-text a:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: scale 1s step-start;
}



#description{
    width: 100%;
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;

}

#description p {
    max-width: 60%;
    text-align: center;
    color: var(--tostado);
    font-size: 15px;
    font-style: italic;
    line-height: 150%;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    flex-direction: column;
    gap: 40px;

}

#cards h2{
    font-size: 50px;
    color: var(--verde);
    text-align: center;
}

#cards p{
    text-align: center;
    color: var(--tostado);
    font-size: 15px;
    font-style: italic;
    max-height: 60%;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.card {
    background-color: rgba(255, 255, 255, 0.70);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 280px;
    width: 200px%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card img{
    max-height: 60px;
}

.card h3{
    color: var(--rosa);
    font-weight: 800;
    text-align: center;
}

.card p {
    font-style: italic;
    text-align: center;
    color: var(--tostado);
    text-overflow: clip;
    overflow:hidden ;
    text-overflow: ellipsis
}

/*CONTACT*/

#contact {
    background-color: rgba(255, 255, 255, 0.70);
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    position: relative;
}

.map {
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 1rem;
}

.contact-text{
    display: flex;
    align-items: Left;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

.contact-title {
    color: var(--tostado);
    font-size: 40px;
    font-weight: 600;
}

.contact-stores-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.store {
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.store h3{
    color: var(--rosa);
    font-weight: 600;
}

.store-data {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    color: var(--tostado);
}

.store-data li {
    display: flex;
    gap: 10px;
}

.store-data img{
    height: 20px;
}

.socialmedia{
    display: flex;
    gap:10px;
    align-items: left;
}

.socialmedia img{
    height: 20px;
}

/*FOOTER*/
footer{
    background-color: var(--rosaclaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

footer h3{
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: var(--tostado);
}


footer img{
    max-height: 30px;
}

#menu-toggle,
#cart-toggle,
.menu-label,
.cart-label {
    display: none;
}

/*Media Queries*/

/*tablet*/
@media (max-width: 992px){
    header {
        gap: 10px;
    }

    nav{
        display: flex;
        align-items: center;
    }
    
    .cart {
        display: none;
    }
    .cart-label {
        display: flex;
        height: 24px;
      }

      #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    .navbar-list {
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        flex-direction: column;
        background-color: var(--beige);
        border: 2px solid var(--rosaclaro);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

      .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 20px;
        width: 25px;
    }

    #cards {
        padding: 60px ;
    }

    #cards h2{
        font-size: 45px;
        color: var(--verde);
        text-align: center;
    }
    
    #cards p{
        text-align: center;
        color: var(--tostado);
        font-size: 15px;
        font-style: italic;
    }

   

    .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;     
    }

    .card {
        max-width: 400px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }



    .contact-text{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
}

/*PHONE*/

@media (max-width: 768px) {
    #portada img{
        display: none;
    }
    
    .portada-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;  
    }

    #cards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
        flex-direction: column;
        gap: 40px;
    
    }

    #cards p{
        padding: 0 60px;
    }

    
    .card {
        width: 80%;
    }

    #contact {
        padding: 60px 30px 60px 30px;
    }
    
    .map {
       max-width: 250px;
    }
    
    .contact-text{
        display: flex;
        align-items: Left;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }
    
    .contact-stores-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }
    
